# ===========================
# Python
# ===========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# Logs
# ===========================

*.log

# ===========================
# Build
# ===========================

build/
dist/
site/
*.egg-info/

# ===========================
# Environment
# ===========================

.env

# ===========================
# OS
# ===========================

Thumbs.db
.DS_Store

# ===========================
# Pytest
# ===========================

.pytest_cache/

# ===========================
# Ruff
# ===========================

.ruff_cache/

# ===========================
# MyPy
# ===========================

.mypy_cache/

# ===========================
# Coverage
# ===========================

.coverage
htmlcov/

# ===========================
# Cache
# ===========================

.cache/

# ===========================
# Jupyter
# ===========================

.ipynb_checkpoints/
